<h2>Edit your article!</h2>

<form action="/articles/<%= @article.id %>" method="post" >
  <input type='hidden' name="_method" value='put' />
  <input type='text', value= "<%= @article.title %>" name="title"/>
  <input type='text', value= "<%= @article.body %>" name="body"/>
  <input type="submit" />
</form>
