<h1>Article Town</h1>

  <a href="/articles/new">Create new article</a>

<% @articles.each do |article| %>
  <a href= <%= "/articles/#{article.id}" %> >
    <h4>
      <%= article.title %>
  </h4>
</a>
  <p><%= article.body %></p>
<% end %>
