<form action='/animals' method='post'>
  <input type='text' name='animal[name]' placeholder='name' />
  <input type='text' name='animal[species]' placeholder='species'  />
  <input type='submit' />
</form>
