<form id="address-form" method="post" action="/locations">
  <label>Street address:</label>
  <input type="text" name="search[location]">
  <label>Type of store:</label>
  <input type="text" name="search[query]">
  <input type="submit" value="Search">
</form>
