<form id="address-form" method="post" action="/locations">
  <label>Street address:</label>
  <input type="text" name="search[location]">
  <label>Type of store:</label>
  <input type="text" name="search[query]">
  <label>Within:</label>
  <select name="search[radius]">
    <option value="1">1 mile</option>
    <option value="2.5">2.5 miles</option>
    <option value="5">5 miles</option>
    <option value="10">10 miles</option>
  </select>
  <input type="submit" value="Search">
</form>
