<h1 class="title">Fire Sales Locator</h1>
<div class="container">
  <h2 class="title">Stores near you</h2>
  <div class="container" id="address-container">
    <%= erb :'_address_form', layout: false %>
  </div>
</div>
